.typewriter {
  font-family: 'Courier New', Courier, monospace;
}

.showBlink::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  width: 2px;
  background-color: white;
  animation: blink 0.7s steps(2) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
