@font-face {
  font-family: "kumbh-light";
  src: url("../assets/fonts/KumbhSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "kumbh-regular";
  src: url("../assets/fonts/KumbhSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "kumbh-bold";
  src: url("../assets/fonts/KumbhSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
