@import 'variables';

.sidebarWrapper {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: transparent;
    animation: dark 0.5s ease 1 forwards;

    @keyframes dark {
        100% {
            background-color: rgba($black, 0.3);
        }
    }

    @media ($md) {
        display: none;
    }
}

.sidebar {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, minmax(auto, 25px)) 1fr;
    grid-row-gap: 20px;
    padding: 20px;
    border-right: 1px solid $border-color;
    background-color: $white;

    .title {
        font-family: 'Black Ops One', cursive;
        font-size: 35px;
        color: $theme;
    }

    h2,
    a {
        color: $text-color;
        cursor: pointer;

        &:hover {
            color: $theme;
        }

        @media ($sm) {
            font-size: 17px;
        }

        @media ($md) {
            font-size: 19px;
        }

        @media ($lg) {
            font-size: 21px;
        }

        @media ($xl) {
            font-size: 22px;
        }
    }

    @media ($md) {
        display: grid;
        position: fixed;
        min-height: 100vh;
    }
}

.sidebarMobile {
    @extend .sidebar;
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 1px solid $border-color;
    display: grid;
    animation: open 0.5s ease 1 forwards;
    left: -200px;
    z-index: 20;

    h2 {
        color: $text-color;
        cursor: pointer;

        &:hover {
            color: $theme;
        }
    }

    @keyframes open {
        100% {
            left: 0;
        }
    }

    @media ($sm) {
        width: 50%;
    }
}

.icons {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    justify-items: center;
    grid-column-gap: 10px;

    svg {
        cursor: pointer;
        width: 20px;
        height: 20px;
        color: $text-color;

        &:hover {
            color: $theme;
        }
    }
}
